@model IEnumerable<PostalTerminal.Models.Delivery>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.clientID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.paymentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.registrationID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.receiverName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.receiverSurname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.registrationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emailSent)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.clientID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.paymentID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.registrationID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.receiverName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.receiverSurname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.registrationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emailSent)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
